<div class="row">
  <div class="col-md-4 col-md-push-4">
    <character-card character="sc.character"></character-card>
  </div>
</div>
<button class="btn btn-primary pull-right" ng-disabled="true">Start Playing</button>