<div class="jumbotron text-center">
  <h2 id="welcome-message">Welcome to the Star Wars character creator!</h2>

  <p class="instructions">Click below to get started!</p>
  <a class="btn btn-primary" href="#/select">GO!</a>
  <select>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>
</div>